/* h2{
    color:blue;
}
@media(max-width:600px)
{
    h3{
        color:purple;
        
    }
}
.navigation{
    background-color:blue;
}
#navs{
    color:white;
}
.navigation{
    display:flex;
    Justify-content:space-between;
    align-items:center;
}
.menu-items{
    display:flex;
    gap:10px;
} */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    font-family: "Playfair Display", serif;
}
body{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #9D4BEB;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}
.logo div{
    font-size: 20px;
    font-weight: 800;
}
 .menu_items{
    display: flex;
    gap: 30px;
    align-items: center;
    
 }
 .menu_items a{
    color:white;
    text-decoration: none;

 }
.info{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
.info div{
    display: flex;
    font-size: 10px;
}
.callbutton{
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
/* banner */
.banner{

    height: 90vh;
    width: 100%;
    background-image: linear-gradient(#9D4BEB,#583AD6);
}
.banner_info{
    width: 80%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    gap: 10px;
    align-items: center;

}
.banner_info div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: fit-content;
}
.learn_button{
    height: fit-content;
    width: fit-content;
    background-color: #04D2CB;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.learn_text{
    color: white;
    font-size: 2.4em;
    font-weight: 600;
}
.banner_image{
    height: 400px;
    width: 500px;
}
/* .banner_image{
    content: ""
    !important;
    height: 60vh
    !important;
    background-image: url(pngwing.com.png);
    width: 800% !important;
    background-size: contain;
    background-repeat: no-repeat;
} */
/* circle */
.maincircle{
    width: 70%;
    padding: 60px 0px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
.Enroll{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Enroll_Title{
    font-size: 34px;
    font-weight: 800;
}
.Enroll_desc{
    font-size: 18px;
    font-weight: 600;
    color: gray;
    text-align: justify;
}

.Enroll_button{
    height: max-content;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    background-color: green;
}
.circle {
    position: relative;
    color: white;
    height: 250px;
}
.one{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(199, 156, 0,0.6);
}
.two{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 152,199, 0.6);
}
.three{
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 199, 90,0.6);
}

/* popular courses */
.popular_title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0px auto;
}

.pt_title{
    font-weight: 700;
    font-size: 24px;

}
.popular_title div{
  text-align: center;
}
.popular_filter{
    width: 60%;
    margin: 40px auto;
    box-shadow: 0px 3px 40px rgb(191,191,191);
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;

}
.popular_filter div{
    font-weight: 700;
}
.courses{
    width: 80%;
    margin: 0px auto;
    display: grid;
    padding: 30px Opx;
    gap: 20px;
    grid-template-columns: 33% 33% 33%;
}
.card{
    padding: 6px;
    box-shadow: 1px 1px 20px lightgray;
    border-radius: 10px;
}
.card_wrapper{
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.card_image{
    height: 300px;
    width: 400px;
    justify-content: center;
}

.card_image:hover{
    transform: scale(1.1);
}
.rating{
    margin-top: 40px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 10px 0px;
    color: rgb(58, 58, 58);
}
.card_title{
    padding: 6px 0px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.card_category{
    color: rgb(91, 90, 90);
    font-size: 16px;
}
.discount{
    text-decoration: line-through;
    color:gray;

}
.course_button{
height: fit-content;
width: fit-content;
padding: 20px 40px;
border: 1px solid #04D2CB;
color:#04D2C8;
border-radius: 50px;
margin: 0px auto;
position: relative;
overflow:clip;
transition: all .8s ease-in-out;
}
.empty{
    height: 0%;
    width: 100%;
    content: '';
    contain: '';
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .8s ease-in-out;
    background-color:#04D2C8;
}

.button-text{
    position: relative;
    z-index: 1;
    transition: all .8s ease-in-out;
}
.course_button:hover .empty, 
.course_button:hover .button-text{
    color: white;
    height:100%;
}
 /* testoniomial */
 .testoniomial{
    background image= url()
 }
 .testoniomial_data{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }
 .testoniomial_data img{
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: gray;
    border-radius: 100%;
 }
 .testoniomial_data p{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
 }
 .testoniomial_data div{
    color: white;
    font-size: 24px;
    font-size: 800;
 }